* {
    scroll-behavior: smooth;
}

body {
    margin-inline: 15vw;
}

.banner {
    width: 70vw;
    height: auto;
}

h1 {
    font-size: 64px;
    font-weight: 500;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Noto Sans", sans-serif;
    color: #111827;
    line-height: 1.5;
}